h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
        @include respond(phone) {
            font-size: 4rem;
        }
    }

    &.sm-heading {
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding: 0.3rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
}

h2 {
    font-size: calc(1.325rem + .9vw);
}

h3 {
    font-size: calc(1.3rem + .6vw);
}

.text-secondary {
  color: $secondary-color;
}

.underline {
    text-decoration: underline;
}