$primary-color: #312f2f;
$secondary-color: #ce6674;
$third-color: #ffc0c9;

$lighten-1: adjust-color($primary-color, $lightness: 2%, $alpha: -0.5);
$lighten-2: adjust-color($primary-color, $lightness: 50%);
$darken-1: adjust-color($primary-color, $lightness: -5%);
$darken-2: adjust-color($primary-color, $lightness: -10%);
$darken-3: adjust-color($primary-color, $lightness: -50%);