// About Page
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'bioimage bio bio'
    'about1 about2 about3';
  grid-template-columns: repeat(3, 1fr);

  .bio {
    grid-area: bio;
  }

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .about {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }

  .about-1 {
    grid-area: about1;
  }

  .about-2 {
    grid-area: about2;
  }

  .about-3 {
    grid-area: about3;
  }
}

.about ul li {
  list-style: none;
}
