// Contact Page
.contact {
  padding: 0.5rem;
  border-bottom: $secondary-color 5px solid;
}

.contact-info {
  display: grid;
  grid-template-areas: 'contact1';
  grid-template-columns: repeat(5, 1fr);

  .contact-1 {
    background: lighten($primary-color, 5);
    grid-area: contact1;
  }

  a:hover {
    color: $secondary-color;
    text-decoration: none;
  }

  a:visited {
    color: $third-color;
  }
}
