@mixin menu {
    .menu {
        &-nav {
            margin: 0;
            padding-left: 1rem;
            background-color: darken($primary-color, 5);
            list-style: none;
        }

        .nav-item {
            display: inline-block;
            text-align: left;
            list-style-type: none;
            padding: 1rem .3rem;
        }

        .nav-link {
            position: relative;
            padding: 0 .3rem 0 0 !important;
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 300;
            color: set-text-color($primary-color);
            text-decoration: none;

            &.active {
                color: $secondary-color;
            }

            &:hover {
                color: $secondary-color;
            }
        }
    }
}

@mixin mobileMenu {
    // Menu Overlay

    .navbar {
        padding: 2.5rem 3rem;
    }

    .nav {
        flex-direction: column;
    }

    .navbar-toggler {
        position: absolute;
        z-index: 3;
        right: 35px;
        top: 35px;
        cursor: pointer;
    }

    .nav-item {
        &.current>a {
                color: $secondary-color !important;
            }
        }

    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 300;
        color: set-text-color($primary-color) !important;
        text-decoration: none;
        @include easeOut;

        &.active {
            color: $secondary-color !important;
        }

        &:hover {
            color: $secondary-color !important;
        }
    }
}
