@include menu;

// Widescreens
@include mediaXl {
    // Work
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}

// Desktops & Laptops
@include mediaLg {

    .container {
        margin-left: 15px;
    }

    h1.lg-heading, h2.lg-heading, h3.lg-heading {
        font-size: 4rem;
    }

    .siteContent {
        main {
            padding: 2rem !important;
        }
    }
    // Work
    .projects .item {
        grid-template-columns: repeat(2, max-content);
    }

    .about-info {
        grid-gap: 20px;
    }

    .about-2, .about-3 {
        width: 200px;
    }
}

// Tablets & Small Laptops
@include mediaMd {
    @include mobileMenu;

    .container {
        text-align: center;
        margin-left: 0;

        .work {
            margin-top: -120px;
        }
    }

    .projects .item {
        grid-template-columns: max-content;
    }

    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 2.5rem;
        }
    }


    .contact {
        .lg-heading {
            margin-top: -9rem !important;
        }
    }

    // About
    .about-info {
        grid-template-areas:
            'bioimage'
            'bio'
            'about1'
            'about2'
            'about3';

        grid-template-columns: 1fr;
    }
}


// Smartphones
@include mediaSm {
    @include mobileMenu;

    .fof {
        margin-left: -110px;
        margin-top: 110px;
    }

    @media screen and (min-width: 320px) {
        // Homepage
        main .lg-heading {
            margin: 0 10.5px;
            font-size: 3rem;

            .sm-heading {
                font-size: 1.5rem;
            }
        }

        .container {
            padding-left: 110px !important;
        }

        .projects .item {
            grid-template-columns: max-content;
        }

        .site, .caseStudy {
            width: 80%;
        }
    }

    @media screen and (min-width: 360px) {
        .siteContent {
            main {
                margin-left: -90px !important;

                .lg-heading {
                    font-size: 4rem;
                }

                &.home-main {            
                    h1 {
                        margin-top: 10vh;
                    }
                }
            }
        }
        
        .container {
            margin-top: 80px !important;
            .work {
                margin-top: -130px !important;
            }
        }
    }

    @media screen and (min-width: 400px) {
        main {
            margin-left: -100px !important;

            .lg-heading {
                margin: 0px 1.5px 0 10.5px;
            }
        }

        .site, .caseStudy {
            width: 100%;
        }
    }

    .container {
        text-align: center !important;
        padding-left: 130px;
        margin-top: 5px;
        margin-left: 0;
    }

    .siteContent .icons {
        margin-top: -24px !important;
    }

    main {
        padding: 2rem !important;
        margin-left: -116px;
        margin-top: -70px;

        .lg-heading {
            margin-top: 3rem;
        }
    }

    // About

    .about-info {
        grid-template-areas:
            'bioimage'
            'bio'
            'about1'
            'about2'
            'about3';

        grid-template-columns: 1fr;
    }

    // Work/Contact
    .projects,
    .contact-info {
        grid-template-columns: 1fr;
    }

    .projects {
        .item {
            display: grid;
            grid-gap: 0.7rem;
            grid-template-columns: repeat(1, max-content);
          }
    }
}
