@import 'config';
@import 'menu';
@import 'headings';
@import 'buttons';

* {
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: $secondary-color;
    @include easeOut();
  }

.siteContent {
    main {
        padding: 4rem; // height: 100%;
        min-height: calc(100vh - 60px);

        .icons {
            margin-top: 1rem;

            a {
                padding: 0.4rem;

                &:hover {
                    color: $secondary-color;
                    @include easeOut();
                }
            }
        }

        &.home-main {
            overflow: hidden;

            min-height: 0 !important;
            
            h1 {
                margin-top: 20vh;
            }
        }
    }
}

img.bg {
    // Set rules to fill background
    min-height: 100%;
    min-width: 1024px;

    // Set up proportionate scaling
    width: 100%;
    height: auto;

    // Set up positioning
    position: fixed;
    top: 0;
    left: 0;

    opacity: 0.1;

    z-index: -2;
}

@media screen and (max-width: 1024px) {

    // Specific to this particular image
    img.bg {
        left: 50%;
        margin-left: -512px;
        // 50%
    }
}

.text-secondary {
    color: $secondary-color !important;
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background-color: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}

@import 'about';
@import 'work';
@import 'casestudy';
@import 'contact';
@import 'mobile';
