@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    opacity: 0.1;

    z-index: -2;
}

main {
    padding: 4rem; // height: 100%;
    min-height: calc(100vh - 60px);

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }
}

@media screen and (max-width: 1024px) {

    /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;
        /* 50% */
    }
}

.container {
    margin-left: 3.5rem;
    margin-top: 9rem;
}

// Headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding: 0.3rem 1rem !important;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: #fff;
    text-decoration: none;

    &.stand-out {
        color: rgb(236, 134, 206);

        &:hover {
            color: $secondary-color;
            @include easeOut();
        }
    }
}

.text-secondary {
    color: $secondary-color !important;
}

.siteContent {
    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
        overflow: hidden;

        h1 {
            margin-top: 20vh;
        }
    }
}

// About Page
.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
        'bioimage bio bio'
        'about1 about2 about3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
    }

    .bio {
        grid-area: bio;
    }

    .about-1 {
        grid-area: about1;
    }

    .about-2 {
        grid-area: about2;
    }

    .about-3 {
        grid-area: about3;
    }

    .about {
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
    }
}

#about ul li {
    list-style: none;
}

// Work/Projects
.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

    img {
        width: 100%;
        border: 3px #fff solid;

        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

// Contact Page
.contact-info {
    display: grid;
    grid-template-areas: 'contact1';
    grid-template-columns: repeat(5, 1fr);

    .contact-1 {
        grid-area: contact1;
    }

    .contact {
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
    }
}

// Button Styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;

    &:hover {
        background-color: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-dark {
    @extend .btn;
    background-color: darken($primary-color, 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background-color: lighten($primary-color, 50);
    color: #333;
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background-color: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}

@import 'mobile';
