:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --space: 1.5em 0;
  --space: 2em 0;
}

body {
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.siteContent {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%;
}

.wj-container {
  padding-top: 15px;
}

/* Text */
.text-title {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.sm-txt {
  font-size: 0.8rem;
}

.sm-txt a {
  color: var(--mainWhite);
  text-decoration: underline;
}

/* splash is in the index.ejs file, used for the initial page load animation */
.splash {
  text-align: center;
  margin: 10% 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

/* Footer */
.page-footer {
  padding-top: 10px;
  color: var(--mainWhite) !important;
  background-color: var(--mainBlue) !important;
}
